body{
    background: #04404c;
    font-family: tahoma;
    color: #b0b026b3;
    
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#2faca300;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #946912;
    border: 0;
    box-sizing: border-box;
    color: #f2e7f3fc;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(87, 6, 43, 0.612);
}

h1{
    /*background: url(/assets/logo.png) no-repeat center;*/
    margin-bottom: 0;
     /*text-indent: -10000px;*/
     color: crimson;
     text-align: center;
}
